<a href="https://colab.research.google.com/github/mtamamulya/KULIAH_TAMA/blob/main/MUKHLISH_PRATAMA_MULYA_JOBSHEET_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 – Pengenalan Variabel dan Tipe Data**

In [1]:
# interger
umur = 20
print("Umur anda",umur , "-->", type(umur))

#float
tinggi = 175
print("Tinggi anda",tinggi , "-->", type(tinggi))

#str
nama = "Mukhlish Pratama Mulya"
print("Nama anda",nama , "-->", type(nama))

#bool
mahasiswa = True
print("Status mahasiswa",mahasiswa , "-->", type(mahasiswa))

#list
nilai = [80, 85, 90]
print("Nilai: ", nilai, "-->", type(nilai) )

# Tuple
koordinat = (10, 5)
print('Koordinat: ', koordinat, '-->', type(koordinat))

#dictionary
data_mahasiswa ={'nama':'Mukhlish Pratama mulya', 'umur': 20, 'prodi': 'TRK'}
print ('Data mahasiswa: ', data_mahasiswa, '-->', type(data_mahasiswa))

#set
hobi = {"membaca", "olahraga", "musik"}
print ('Hobi: ', hobi, '-->', type(hobi))

Umur anda 20 --> <class 'int'>
Tinggi anda 175 --> <class 'int'>
Nama anda Mukhlish Pratama Mulya --> <class 'str'>
Status mahasiswa True --> <class 'bool'>
Nilai:  [80, 85, 90] --> <class 'list'>
Koordinat:  (10, 5) --> <class 'tuple'>
Data mahasiswa:  {'nama': 'Mukhlish Pratama mulya', 'umur': 20, 'prodi': 'TRK'} --> <class 'dict'>
Hobi:  {'musik', 'olahraga', 'membaca'} --> <class 'set'>

**Praktikum 02 – Input dan Output Dasar**

In [2]:
# Input string
nama = input("Masukkan nama Anda: ")
# Input integer
umur = int(input("Masukkan umur Anda: "))
# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))
# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")
# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))
# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: TAMA
Masukkan umur Anda: 19
Masukkan tinggi badan (cm): 165
Halo, TAMA umur Anda: 19 tahun, tinggi: 165.0 cm
Halo TAMA, umur Anda 19 tahun, tinggi 165.0 cm
Halo TAMA, umur Anda 19 tahun, tinggi 165.0 cm

**Praktikum 03 – Operator Aritmatika**

In [3]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

**Praktikum 04 – Operator Relasional**

In [4]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

**Praktikum 05 – Operator Logika dengan Studi Kasus Nyata**

In [5]:
# Operator logika dasar
a = True
b = False
print("a and b =", a and b)
print("a or b =", a or b)
print("not a	=", not a)
# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))
lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan 15:
if lulus_nilai and lulus_hadir:
	print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a	= False
Masukkan nilai ujian: 19
Masukkan jumlah kehadiran: 9
Status: TIDAK LULUS

**Praktikum 06 – Program Kasir Sederhana**

In [10]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah
# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan
print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: SABUN MANDI
Masukkan harga barang: 10000
Masukkan jumlah barang: 50

===== Struk Belanja =====
Barang : SABUN MANDI
Jumlah : 50
Total : Rp 500000.0
Diskon : 20.0%
Bayar : Rp 400000.0

**PENUGASAN JOBSHEET2: IDENTITAS MAHASISWA**

In [21]:
nama = str(input('masukan nama anda: '))
umur = int(input('masukan umur anda: '))
tinggi = float(input('masukan tinggi anda: '))
status = True

print(f'perkenalkan nama saya {nama} saya berumur {umur} dan tinggi badan saya {tinggi}, mahasiswa polines. status={status} ')

masukan nama anda: Mukhlish Pratama Mulya
masukan umur anda: 19
masukan tinggi anda: 165
perkenalkan nama saya Mukhlish Pratama Mulya saya berumur 19 dan tinggi badan saya 165.0, mahasiswa polines. status=True

**PENUGASAN JOBSHEET2: OPERASI ARITMATIKA**

In [22]:
a = int(input("masukkan angka pertama: "))
b = int(input("masukkan angka kedua: "))

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

masukkan angka pertama: 10
masukkan angka kedua: 2
a + b = 12
a - b = 8
a * b = 20
a / b = 5.0
a // b = 5
a % b = 0
a ** b = 100

**PENUGASAN JOBSHEET2: NILAI KONVERSI**

In [26]:
a = float(input("Masukkan angka desimal: "))

print("Dalam bentuk integer:", int(a))
print("Dalam bentuk string:", str(a))
print("Pembulatan 2 digit:", round(a, 2))

Masukkan angka desimal: 1332.432
Dalam bentuk integer: 1332
Dalam bentuk string: 1332.432
Pembulatan 2 digit: 1332.43

**PENUGASAN JOBSHEET2: OPERATOR RASIONAL**

In [27]:
a = float(input("Masukkan angka pertama: "))
b = float(input("Masukkan angka kedua: "))

print(f"{a} == {b} :", a == b)
print(f"{a} != {b} :", a != b)
print(f"{a} < {b} :", a < b)
print(f"{a} > {b} :", a > b)
print(f"{a} <= {b} :", a <= b)
print(f"{a} >= {b} :", a >= b)

Masukkan angka pertama: 10
Masukkan angka kedua: 5
10.0 == 5.0 : False
10.0 != 5.0 : True
10.0 < 5.0 : False
10.0 > 5.0 : True
10.0 <= 5.0 : False
10.0 >= 5.0 : True