<a href="https://colab.research.google.com/github/mtamamulya/KULIAH_TAMA/blob/main/MUKHLISH_PRATAMA_MULYA_JOBSEET_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

In [5]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

In [7]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20                 # menambah data
mahasiswa["Prodi"] = "Teknik Komputer" # memperbarui data
del mahasiswa["Umur"]                  # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

In [3]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [2]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

In [6]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# **PENUGASAN JOBSHEET 7**

**TUGAS 1**

In [8]:
mahasiswa = ("Andi", 20, "Teknik Komputer")

print(f"Nama: {mahasiswa[0]}")
print(f"Umur: {mahasiswa[1]}")
print(f"Prodi: {mahasiswa[2]}")

Nama: Andi
Umur: 20
Prodi: Teknik Komputer

**TUGAS 2**

In [1]:
data_tuple = (1, 2, 3)

print(f"Tuple awal: {data_tuple}")

try:
    data_tuple[0] = 10
except TypeError as e:
    print(f"Hasil: Terjadi error!")
    print(f"Pesan Error: {e}")

Tuple awal: (1, 2, 3)
Hasil: Terjadi error!
Pesan Error: 'tuple' object does not support item assignment

**TUGAS 3**

In [2]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print(f"Judul: {buku['Judul']}")
print(f"Penulis: {buku['Penulis']}")
print(f"Tahun: {buku['Tahun']}")

Judul: Algoritma
Penulis: Munir
Tahun: 2021

**TUGAS 4**

In [4]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}
print(f"Data awal: {dosen}")

dosen["Umur"] = 40
print(f"Setelah tambah umur: {dosen}")

dosen["Prodi"] = "Teknik Komputer"
print(f"Setelah perbarui prodi: {dosen}")

del dosen["Umur"]
print(f"Setelah hapus umur: {dosen}")

print(f"\nHasil akhir: {dosen}")

Data awal: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'TRK'}
Setelah tambah umur: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'TRK', 'Umur': 40}
Setelah perbarui prodi: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer', 'Umur': 40}
Setelah hapus umur: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Hasil akhir: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

**TUGAS 5**

In [6]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print(f"A: {A}")
print(f"B: {B}")
print("---")

union_hasil = A | B
print(f"Union (Gabungan): {union_hasil}")

intersection_hasil = A & B
print(f"Intersection (Irisan): {intersection_hasil}")

difference_hasil = A - B
print(f"Difference (Selisih A - B): {difference_hasil}")

A: {'Algoritma', 'Matematika', 'Bahasa Inggris'}
B: {'Basis Data', 'Algoritma', 'Matematika'}
---
Union (Gabungan): {'Basis Data', 'Bahasa Inggris', 'Algoritma', 'Matematika'}
Intersection (Irisan): {'Algoritma', 'Matematika'}
Difference (Selisih A - B): {'Bahasa Inggris'}

**TUGAS 6**

In [7]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

print("--- Daftar Nilai Mahasiswa ---")
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

semua_nilai = nilai_mahasiswa.values()

total = sum(semua_nilai)
jumlah_mahasiswa = len(nilai_mahasiswa)
rata_rata = total / jumlah_mahasiswa

print(f"Rata-rata nilai: {rata_rata:.2f}")

--- Daftar Nilai Mahasiswa ---
Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

**TUGAS 7**

In [8]:
A = {"Andi", "Budi", "Cici"}
B = {"Cici", "Deni", "Eka"}

print(f"Klub A: {A}")
print(f"Klub B: {B}")
print("---")

seluruh_anggota = A | B
print(f"Daftar seluruh anggota (Union): {seluruh_anggota}")

anggota_kedua_klub = A & B
print(f"Anggota di kedua klub (Intersection): {anggota_kedua_klub}")

hanya_di_A = A - B
print(f"Anggota yang hanya di Klub A (Difference): {hanya_di_A}")

Klub A: {'Budi', 'Cici', 'Andi'}
Klub B: {'Eka', 'Cici', 'Deni'}
---
Daftar seluruh anggota (Union): {'Eka', 'Cici', 'Budi', 'Andi', 'Deni'}
Anggota di kedua klub (Intersection): {'Cici'}
Anggota yang hanya di Klub A (Difference): {'Budi', 'Andi'}