<a href="https://colab.research.google.com/github/mtamamulya/KULIAH_TAMA/blob/main/MUKHLISH_PRATAMA_MULYA_JOBSHEET_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM 4**

In [20]:
for i in range(1,5):
  print(i)

1
2
3
4

In [18]:
n = int(input("masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

masukkan angka: 5
5
4
3
2
1

In [21]:
for i in range(1,5):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****

In [23]:
for i in range(1,20):
  if i == 10:
    print(f"angka {i} ditemukan")
    break
  print(i)

1
2
3
4
5
6
7
8
9
angka 10 ditemukan

In [24]:
for i in range(1,5):
  if i % 2 == 1:
    continue
  print(i)

2
4

In [13]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}
for k,v, in data.items():
    print(f"{k} : {v}")

Nama : Andi
Umur : 20
Prodi : TRK

In [25]:
daftar = ["andi","budi","cici"]

for i, nama in enumerate(daftar, start=1):
  print(f"{i}. {nama}")

1. andi
2. budi
3. cici

In [26]:
total = 0
while True:
  barang = input("masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"masukkan harga {barang}: "))
  jumlah = int(input(f"masukkan jumlah {barang}: "))
  total += harga * jumlah

print("\n===== struk belanja =====")
print(f"total belanja: Rp {total}")

masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
masukkan harga Buku: 50000
masukkan jumlah Buku: 2
masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
masukkan harga Pulpen: 5000
masukkan jumlah Pulpen: 3
masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== struk belanja =====
total belanja: Rp 115000.0

# **PENUGASAN PRAKTIKUM 4**

In [28]:
for i in range(3,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [49]:
angka = int(input("Masukkan angka positif: "))
if angka < 0:
    print("faktorial tidak bisa angka negatif")
else:
    fktr = 1
    i = angka
    while i > 0:
        fktr *= i
        i -= 1
        print(fktr,i)
    print(f"faktorial dari {angka} adalah {fktr}")

Masukkan angka positif: 10
10 9
90 8
720 7
5040 6
30240 5
151200 4
604800 3
1814400 2
3628800 1
3628800 0
faktorial dari 10 adalah 3628800

In [62]:
n = 6
for i in range (n):
  n -= 1
  for j in range(n):
    print('*',end='')
  print()

*****
****
***
**
*

In [75]:
n = int(input("masukkan angka positif: "))
if n <= 1:
    print(f"{n} bukan bilangan prima")
else:
    for i in range(2, n):
        if (n % i) == 0:
            print(f"{n} bukan bilangan prima (karena habis dibagi {i})")
            break
    else:
        print(f"{n} bilangan prima")

masukkan angka positif: 2
2 bilangan prima

In [77]:
for i in range(1,21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

In [79]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}

for k,v in mahasiswa.items():
  print(f'{k}: {v}')

Nama: Budi
Umur: 21
Prodi: Teknik Komputer

In [80]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(f"{i}. {nama}")

1. Buku
2. Pulpen
3. Tas

In [107]:
daftar_belanja = []
total = 0
while True:

  barang = input("masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"masukkan harga {barang}: "))
  jumlah = int(input(f"masukkan jumlah {barang}: "))
  sub_total= harga * jumlah
  total += sub_total
  daftar_belanja.append({
        'nama': barang,
        'jumlah': jumlah,
        'harga': harga,
        'subtotal': sub_total
    })
if total >= 200000:
  diskon = total * 0.1
  af_dis = total - diskon
else:
  diskon = 0
  af_dis = total


print("\n===== struk belanja =====")
for item in daftar_belanja:
  print(f"{item['nama']} {item['harga']} x {item['jumlah']} = Rp{item['subtotal']}")
print(f"total harga: Rp {total}")
print(f"diskon: Rp {diskon}")
print(f"total belanja: Rp {af_dis}")

masukkan nama barang (ketik 'selesai' untuk berhenti): ayama
masukkan harga ayama: 25000
masukkan jumlah ayama: 3
masukkan nama barang (ketik 'selesai' untuk berhenti): sapi
masukkan harga sapi: 75000
masukkan jumlah sapi: 6
masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== struk belanja =====
ayama 25000.0 x 3 = Rp75000.0
sapi 75000.0 x 6 = Rp450000.0
total harga: Rp 525000.0
diskon: Rp 52500.0
total belanja: Rp 472500.0