<a href="https://colab.research.google.com/github/mtamamulya/KULIAH_TAMA/blob/main/MUKHLISH_PRATAMA_MULYA_JOBSEET_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])    # Andi
print(mahasiswa[1])    # Budi
print(mahasiswa[-1])   # Cici

Andi
Budi
Cici

In [2]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

In [3]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])	# [85, 90, 78]
print(nilai[2:])	# [78, 92, 88]
print(nilai[:3])	# [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

In [4]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])  # 1
print(matriks[1][2])  # 6
print(matriks[2])     # [7, 8, 9]

1
6
[7, 8, 9]

In [6]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

In [7]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

# **PENUGASAN JOBSHEET 6**

# **penugasan 1**

In [8]:
mahasiswa = ["Andi", "Budi", "Cici", "Doni", "Eka"]

print(f"Nama pertama: {mahasiswa[0]}")
print(f"Nama terakhir: {mahasiswa[-1]}")

print(f"Nama pada indeks ke-2: {mahasiswa[2]}")

Nama pertama: Andi
Nama terakhir: Eka
Nama pada indeks ke-2: Cici

# **penugasan 2**

In [1]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

# **penugasan 3**

In [4]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(f"List asli: {angka}")

print(f"3 elemen pertama: {angka[:3]}")
print(f"4 elemen terakhir: {angka[-4:]}")
print(f"Elemen indeks genap: {angka[1::2]}")

List asli: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen indeks genap: [2, 4, 6, 8, 10]

# **penugasan 4**

In [1]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print(f"Baris pertama, kolom kedua: {matriks[0][1]}")
print(f"Baris kedua, kolom ketiga: {matriks[1][2]}")
print(f"Seluruh baris pertama: {matriks[0]}")

Baris pertama, kolom kedua: 2
Baris kedua, kolom ketiga: 6
Seluruh baris pertama: [1, 2, 3]

# **penugasan 5**

In [8]:
matriks_A = [
    [1, 2],
    [3, 4]
]
matriks_B = [
    [5, 6],
    [7, 8]
]
hasil_C = [
    [0, 0],
    [0, 0]
]

for i in range(len(matriks_A)):
    for j in range(len(matriks_A[0])):
        hasil_C[i][j] = matriks_A[i][j] + matriks_B[i][j]

print(f"Matriks A: {matriks_A}")
print(f"Matriks B: {matriks_B}")
print(f"Hasil Penjumlahan: {hasil_C}")

Matriks A: [[1, 2], [3, 4]]
Matriks B: [[5, 6], [7, 8]]
Hasil Penjumlahan: [[6, 8], [10, 12]]

# **penugasan 6**

In [2]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

# **penugasan 7**

In [7]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]
for item in stok:
    print(f"Barang: {item[0]}, Stok: {item[1]}")

print("----------------------------")

stok_terbanyak = -1
barang_terbanyak = ""

for item in stok:
    nama_barang = item[0]
    jumlah_stok = item[1]
    if jumlah_stok > stok_terbanyak:
        stok_terbanyak = jumlah_stok
        barang_terbanyak = nama_barang

print(f"Barang dengan stok terbanyak: {barang_terbanyak} ({stok_terbanyak} buah)")

Barang: Buku, Stok: 20
Barang: Pulpen, Stok: 35
Barang: Penghapus, Stok: 15
----------------------------
Barang dengan stok terbanyak: Pulpen (35 buah)